<div>
    <h1>Index</h1>

    <p>
        <a asp-page="Create">Create New</a>
    </p>

    @if (Model.Threads != null && Model.Threads.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Text</th>
                    <th>Discussion Subject Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Threads)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Text</td>
                        <td>
                            @if (item.DiscussionSubject != null)
                            {
                                @item.DiscussionSubject.Name
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No threads found.</p>
    }
</div>
